:root{
    --width_form: 650px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #002357;
    margin: 0;
}

h1 {
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

#contenutoTotale {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: #0041a2;
    border: #1e74f6 solid 2px;
    padding: 20px;
    width: var(--width_form);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    color: #ffffff;
    font-size: 1.75rem;
}

#codiceFiscaleForm  {
    display: flex;
    flex-direction: column;
}

input.codiceFiscaleInput, select.codiceFiscaleInput {
    background-color: #1e74f6;
    border: #1e74f6 solid 2px;
    border-radius: 5px;
    color: #ffffff;
    width: calc(var(--width_form)/2);
    height: 35px;
    font-size: 1rem;
}

input.codiceFiscaleInput:hover, select.codiceFiscaleInput:hover {
    background-color: #5f9fff;
}

input.codiceFiscaleInput:active, select.codiceFiscaleInput:active {
    border: #0041a2 solid 2px;
}

input.codiceFiscaleInput::placeholder{
    color: #ffffff;
    opacity: 0.7;
}

.inputShadow {
    box-shadow: 5px 5px 5px #000000;
}

.inputShadow:hover {
    box-shadow: 7px 7px 7px #000000;
}

div.sezioneInput {
    margin: 10px 0;
    display: flex;
}

div.sezioneInput label {
    width: calc(var(--width_form)/2);
    font-size: 1.75rem;
    display: flex;
    align-items: center;
}

/* BOTTONE: Calcola Codice Fiscale */

div#sezioneBottone {
    width: var(--width_form);
    height: 90px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

div#sezioneBottone button {
    background-color: #1e74f6;
    border: #77adff solid 2px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1.75rem;
    padding: 10px;
    cursor: pointer;
    width: calc(var(--width_form) - 100px);
    margin: 25px 50px;
}

div#sezioneBottone button:hover {
    background-color: #3f8cff;
}

#risultato {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

input#codiceFiscale {
    width: 80%;
    text-align: center;
    font-size: 1.75rem;
    margin-top: 10px;
}